@media screen and (min-width: 950px) {
    .Header{
        position: fixed;
        top:0px;
        left: 0px;
        width: 100%;
        z-index: 10000;
        background-color: rgb(20, 20, 20);
        height: 68px;
        padding: 0 60px;
        display: flex;
    }
    .Header>a{
        margin-right: 25px;
    }
    .Header >a >img{
        height: 68px;
    }
    .Header >ul{
        display: flex;
        align-items: center;
        list-style: none;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        font-size: 14px;
    }
    .Header ul > li{
        margin-left: 20px;
        color: white;
    }
    .Header ul > li >a{
        text-decoration: none;
        cursor: pointer;
        color: #fff;
    }
}
@media screen and (max-width: 949px) {
    .Header{
        background-color: rgb(20, 20, 20);
        height: 41px;
        padding: 0 60px;
    }
    .Header>a{
        margin-right: 5px;
    }
    .Header >a >img{
        height: 41px;
    }
    .Header >ul{
        display: flex;
        align-items: center;
        list-style: none;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        font-size: 12px;
    }
    .Header ul > li{
        margin-left: 15px;
        color: white;
    }
    .Header ul > li >a{
        text-decoration: none;
        cursor: pointer;
        color: #fff;
    }
}
